In [6]:
import pandas
data=pandas.read_csv("bitcoin.csv")

In [7]:
data.head()

,Unnamed: 0,Date,Open*,High,Low,Close**,Volume,Market Cap
0,0,2018-05-26,7486.48,7595.16,7349.12,7355.88,4051540000,127682000000
1,1,2018-05-25,7592.30,7659.14,7392.65,7480.14,4867830000,129470000000
2,2,2018-05-24,7561.12,7738.60,7331.14,7587.34,6049220000,128925000000
3,3,2018-05-23,8037.08,8054.66,7507.88,7557.82,6491120000,137024000000
4,4,2018-05-22,8419.87,8423.25,8004.58,8041.78,5137010000,143534000000

In [8]:
data.shape

(1855, 8)

In [9]:
data=data[data.Date>'2015-01-01']

In [10]:
data.shape

(1241, 8)

In [19]:
data.head()

,Unnamed: 0,Date,Open*,High,Low,Close**,Volume,Market Cap
0,0,2018-05-26,7486.48,7595.16,7349.12,7355.88,4051540000,127682000000
1,1,2018-05-25,7592.30,7659.14,7392.65,7480.14,4867830000,129470000000
2,2,2018-05-24,7561.12,7738.60,7331.14,7587.34,6049220000,128925000000
3,3,2018-05-23,8037.08,8054.66,7507.88,7557.82,6491120000,137024000000
4,4,2018-05-22,8419.87,8423.25,8004.58,8041.78,5137010000,143534000000

In [20]:
data2=data.copy()

In [59]:
bitcoin=data[['Date','Close**','Volume']]
bitcoin.head()
bitcoin=bitcoin.sort_index(ascending=False)

In [60]:
bitcoin.head()

            Date  Close**    Volume
1240  2015-01-02   315.03   7860650
1239  2015-01-03   281.08  33054400
1238  2015-01-04   264.19  55629100
1237  2015-01-05   274.47  43962800
1236  2015-01-06   286.19  23245700

In [61]:
bitcoin.shape
bitcoin.columns=['Date','close','volume']
bitcoin.head()
lag2=bitcoin.close.shift(2)
lag1=bitcoin.close.shift(1)
#bitc=pandas.merge(bitcoin,lag,how='right')
bitcoin.shape

(1241, 3)

In [62]:
bitcoin['lag1']=lag1
bitcoin['lag2']=lag2

In [63]:
bitcoin.head()

            Date   close    volume    lag1    lag2
1240  2015-01-02  315.03   7860650     NaN     NaN
1239  2015-01-03  281.08  33054400  315.03     NaN
1238  2015-01-04  264.19  55629100  281.08  315.03
1237  2015-01-05  274.47  43962800  264.19  281.08
1236  2015-01-06  286.19  23245700  274.47  264.19

In [64]:
bitcoin['vlag']=bitcoin.volume.shift(1)

In [65]:
bitcoin.head()

            Date   close    volume    lag1    lag2        vlag
1240  2015-01-02  315.03   7860650     NaN     NaN         NaN
1239  2015-01-03  281.08  33054400  315.03     NaN   7860650.0
1238  2015-01-04  264.19  55629100  281.08  315.03  33054400.0
1237  2015-01-05  274.47  43962800  264.19  281.08  55629100.0
1236  2015-01-06  286.19  23245700  274.47  264.19  43962800.0

In [66]:
bitcoin.drop(['volume'],axis=1,inplace=True)

In [67]:
bitcoin.head()

            Date   close    lag1    lag2        vlag
1240  2015-01-02  315.03     NaN     NaN         NaN
1239  2015-01-03  281.08  315.03     NaN   7860650.0
1238  2015-01-04  264.19  281.08  315.03  33054400.0
1237  2015-01-05  274.47  264.19  281.08  55629100.0
1236  2015-01-06  286.19  274.47  264.19  43962800.0

In [68]:
train,test=bitcoin[bitcoin.Date<='2017-09-01'],bitcoin[bitcoin.Date>'2017-09-01']

In [69]:
train.shape

(974, 5)

In [70]:
test.shape

(267, 5)

In [74]:
train.drop([1240,1239],axis=0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
train.head()

            Date   close    lag1    lag2        vlag
1238  2015-01-04  264.19  281.08  315.03  33054400.0
1237  2015-01-05  274.47  264.19  281.08  55629100.0
1236  2015-01-06  286.19  274.47  264.19  43962800.0
1235  2015-01-07  294.34  286.19  274.47  23245700.0
1234  2015-01-08  283.35  294.34  286.19  24866800.0

In [72]:
test.head()

           Date    close     lag1     lag2          vlag
266  2017-09-02  4578.77  4892.01  4703.39  2.599080e+09
265  2017-09-03  4582.96  4578.77  4892.01  2.722140e+09
264  2017-09-04  4236.31  4582.96  4578.77  1.933190e+09
263  2017-09-05  4376.53  4236.31  4582.96  2.987330e+09
262  2017-09-06  4597.12  4376.53  4236.31  2.697970e+09

In [77]:
train.drop(['Date'],axis=1,inplace=True)
test.drop(['Date'],axis=1,inplace=True)
train.reset_index(inplace=True)
test.reset_index(inplace=True)

ValueError: labels ['Date'] not contained in axis

In [79]:
test.head()

       close     lag1     lag2          vlag
266  4578.77  4892.01  4703.39  2.599080e+09
265  4582.96  4578.77  4892.01  2.722140e+09
264  4236.31  4582.96  4578.77  1.933190e+09
263  4376.53  4236.31  4582.96  2.987330e+09
262  4597.12  4376.53  4236.31  2.697970e+09

In [81]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
sc.fit(train)
train=sc.transform(train)
test=sc.transform(test)
xtr,ytr=train[:,1:],train[:,0]
xts,yts=test[:,1:],test[:,0]

In [83]:
train[:5,:]

array([[0.01826297, 0.02275655, 0.03111395, 0.0059818 ],
       [0.02044375, 0.0190242 , 0.02339965, 0.01199588],
       [0.02293001, 0.02129587, 0.01956182, 0.00888788],
       [0.02465893, 0.02388576, 0.02189769, 0.00336868],
       [0.02232754, 0.02568675, 0.02456077, 0.00380055]])

In [85]:
from keras import layers,models

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [87]:
xtr.shape

(972, 3)

In [88]:
xts.shape

(267, 3)

In [90]:
#[sample,timestep,features]
xtr=xtr.reshape(xtr.shape[0],1,xtr.shape[1])
xts=xts.reshape(xts.shape[0],1,xts.shape[1])

# LST Model

In [97]:
model=models.Sequential()

In [98]:
model.add(layers.LSTM(10,input_shape=(1,3)))

In [93]:
model.add(layers.Dense(10,activation='relu'))

In [99]:
model.add(layers.Dense(1))

In [100]:
model.compile(loss='mae',optimizer='adam',metrics=['accuracy'])

In [102]:
model.fit(xtr,ytr,epochs=10,batch_size=1,verbose=True,validation_data=(xts,yts))

Train on 972 samples, validate on 267 samples
Epoch 1/10

InternalError: GPU sync failed